html,
body {
	width: 100vw;
}

body {
	min-width: 270px;
	font-family: $base-font;
	color: white;
	line-height: 1.25;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input,
button,
input:disabled,
button:disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 1;
	font-family: $base-font;
}
section {
	position: relative;
	max-width: 100vw;
}
